.aloc-user-structure {
    position: relative;
    height: 100%;
    width: 100%;
    @include flex-display(column, flex-start, center, 16px);

    .aloc-all-user-data {
        width: 100%;
        @include grid-display(0.35fr 0.65fr, unset, 0px);

        .aloc-user-image {
            padding: 8px 16px;
            height: 100%;
            width: 100%;
            @include flex-center(column, 0px);

            img {
                width: 80%;
                border-radius: 50%;
            }
        }

        .aloc-user-data {
            padding: 8px 16px;
            height: 100%;
            width: 100%;
            @include grid-display(repeat(6, 1fr), unset, 8px);

            .name,
            .lastname,
            .password-first,
            .password-second  {
                grid-column: span 3;
            }

            .nivel,
            .login, 
            .email {
                grid-column: span 2;
            }

            &.edit {
                .name,
                .lastname {
                    grid-column: span 6;
                }
            }
        }

        .aloc-user-permiss {
            grid-column: span 2;
            padding: 32px 40px;
            height: 100%;
            width: 100%;
            @include grid-display(repeat(4, 1fr), unset, 16px);

            .column-toggle-user {
                position: relative;
                height: 100%;
                width: 100%;
                padding: 8px;
                @include flex-display(column, flex-start, center, 8px);

                .name-permiss {
                    width: 100%;
                    color: var(--primary-color);
                    @include text-config(14px, 500, $align: center, $style: italic);
                }
            }
        }

        .user-change-password {
            grid-column: span 2;
            padding: 32px;
            height: 100%;
            width: 100%;
            @include flex-display(column, flex-start, center, 0px);

            .title-acc-change-pass {
                padding: 16px;
                width: 100%;
                cursor: pointer;
                @include text-config(16px, 500, $align: center, $style: italic);
                @include flex-display(row, flex-start, center, 16px);
            }

            .content-acc-change-pass {
                padding: 16px;
                width: 100%;
                border-radius: 8px;
                background: rgba(var(--primary-color-rgb), 0.1);
                @include grid-display(repeat(2, 1fr), unset, 8px);

                .aloc-btn-submit-pass {
                    padding: 8px;
                    grid-column: span 2;
                    @include flex-center(row, 0px); 
                }
            }
        }
    }
}