:root.light {
  --primary-color: rgb(130,71,229);
  --primary-color-rgb: 130,71,229;
  --primary-color-contrast: rgb(155, 107, 238);
  --primary-color-contrast-rgb: 155, 107, 238;
  --secondary-color: rgb(24, 178, 155);
  --secondary-color-rgb: 24, 178, 155;
  --secondary-color-contrast: rgb(5, 126, 108);
  --secondary-color-contrast-rgb: 5, 126, 108;
  --base-color: rgb(236, 233, 242);
  --base-color-rgb: 236, 233, 242;
  --base-color-contrast: rgb(216, 206, 235);
  --base-color-contrast-rgb: 216, 206, 235;
  --base-color-inverse: rgb(9, 7, 14);
  --base-color-inverse-rgb: 9, 7, 14;
  --card-color: rgb(240, 238, 245);
  --card-color-rgb: 240, 238, 245;
  --text-color: rgb(10, 10, 11);
  --text-color-rgb: 10, 10, 11;
  --text-color-inverse: rgb(221, 221, 231);
  --text-color-inverse-rgb: 221, 221, 23;
  --shadow-color: rgb(22, 22, 22);
  --shadow-color-rgb: 22, 22, 22;
  --shadow-neon-color: rgb(22, 22, 22);
  --shadow-neon-color-rgb: 22, 22, 22;
}

:root.dark {
  --primary-color: rgb(152, 104, 233);
  --primary-color-rgb: 152, 104, 233;
  --primary-color-contrast: rgb(130, 79, 218);
  --primary-color-contrast-rgb: 130, 79, 218;
  --secondary-color: rgb(32, 203, 177);
  --secondary-color-rgb: 32, 203, 177;
  --secondary-color-contrast: rgb(16, 98, 86);
  --secondary-color-contrast-rgb: 16, 98, 86;
  --base-color: rgb(42 42 42);
  --base-color-rgb: 42 42 42;
  --base-color-contrast: rgb(37, 31, 50);
  --base-color-contrast-rgb: 37, 31, 50;
  --base-color-inverse: rgb(236, 233, 242);
  --base-color-inverse-rgb: 236, 233, 242;
  --card-color: rgb(49 49 49);
  --card-color-rgb: 49 49 49;
  --text-color: rgb(221, 221, 231);
  --text-color-rgb: 221, 221, 231;
  --text-color-inverse: rgb(10, 10, 11);
  --text-color-inverse-rgb: 10, 10, 11;
  --shadow-color: rgb(0, 0, 0);
  --shadow-color-rgb: 0,0,0;
  --shadow-neon-color: rgb(99, 55, 175);
  --shadow-neon-color-rgb: 99, 55, 175;
}

.aloc-header-page {
  position: relative;
  width: 100%;
  padding: 24px 48px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 16px;
}

.aloc-header-page .aloc-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.aloc-header-page .aloc-route {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.aloc-header-page .aloc-route .text-nolink {
  color: var(--text-color);
}

.aloc-header-page .aloc-route .link-page {
  color: var(--primary-color);
  -webkit-transition: -webkit-text-decoration .3s ease-out;
  transition: -webkit-text-decoration .3s ease-out;
  transition: text-decoration .3s ease-out;
  transition: text-decoration .3s ease-out, -webkit-text-decoration .3s ease-out;
  cursor: pointer;
}

.aloc-header-page .aloc-route .link-page:hover {
  text-decoration: underline;
}

.aloc-content-page {
  position: relative;
  width: 100%;
  padding: 24px;
}

.aloc-content-page .card-content-page {
  padding: 32px;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 16px;
  background: var(--base-color);
  overflow: hidden;
  -webkit-box-shadow: 0px 24px 16px -10px rgba(var(--shadow-color-rgb), 0.05);
          box-shadow: 0px 24px 16px -10px rgba(var(--shadow-color-rgb), 0.05);
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .aloc-content-page .card-content-page {
    padding: 16px 4px;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .aloc-content-page .card-content-page.dash {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .aloc-content-page {
    padding: 24px 4px;
  }
}

.aloc-top-buttons {
  padding: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.d-none {
  display: none !important;
}

.disappear {
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.dsb {
  opacity: 0.5;
  pointer-events: none;
}

.w100 {
  width: 100%;
}

.gd-spaces-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gd-spaces-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

.gap-5 {
  gap: 40px;
}

.gap-6 {
  gap: 48px;
}

.gap-7 {
  gap: 56px;
}

.gap-8 {
  gap: 64px;
}

.gap-9 {
  gap: 72px;
}

.gap-10 {
  gap: 80px;
}

.gd-span-1 {
  grid-column: span 1;
}

.gd-span-2 {
  grid-column: span 2;
}

.gd-span-3 {
  grid-column: span 3;
}

.gd-span-4 {
  grid-column: span 4;
}

.gd-span-5 {
  grid-column: span 5;
}

.gd-span-6 {
  grid-column: span 6;
}

.gd-span-7 {
  grid-column: span 7;
}

.gd-span-8 {
  grid-column: span 8;
}

.gd-span-9 {
  grid-column: span 9;
}

.gd-span-10 {
  grid-column: span 10;
}

.pd-1 {
  padding: 8px;
}

.pd-2 {
  padding: 16px;
}

.pd-3 {
  padding: 24px;
}

.pd-4 {
  padding: 32px;
}

.pd-5 {
  padding: 40px;
}

.pd-6 {
  padding: 48px;
}

.pd-7 {
  padding: 56px;
}

.pd-8 {
  padding: 64px;
}

.pd-9 {
  padding: 72px;
}

.pd-10 {
  padding: 80px;
}

.content-login-page {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 64px 1fr;
      grid-template-rows: 64px 1fr;
  gap: 0px;
}

.header-login,
.just-login-page {
  height: 100%;
  width: 100%;
  background-color: var(--card-color);
}

.header-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px;
}

.header-login .left-icons,
.header-login .right-icons {
  height: 100%;
  width: 100%;
}

.header-login .left-icons {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
}

.header-login .right-icons {
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
}

.login-icon {
  padding: 4px;
  aspect-ratio: 1/1;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(var(--shadow-color-rgb), 0.05));
          filter: drop-shadow(0px 1px 2px rgba(var(--shadow-color-rgb), 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.login-icon svg {
  fill: var(--primary-color);
  -webkit-transition: fill 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, filter 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.login-icon:hover svg {
  fill: var(--primary-color-contrast);
  -webkit-filter: drop-shadow(0px 1px 4px rgba(var(--shadow-color-rgb), 0.1));
          filter: drop-shadow(0px 1px 4px rgba(var(--shadow-color-rgb), 0.1));
}

.aloc-switch-theme {
  padding: 4px;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.just-login-page {
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.just-login-page .background-login {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.just-login-page .background-login .bg-svg stop:nth-child(1) {
  stop-color: var(--primary-color);
}

.just-login-page .background-login .bg-svg stop:nth-child(2) {
  stop-color: var(--primary-color-contrast);
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .just-login-page .background-login .bg-svg {
    height: 80%;
  }
}

.just-login-page .background-login .login-wave {
  -webkit-animation: wave-animation 90s;
          animation: wave-animation 90s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.aloc-card-login {
  position: absolute;
  aspect-ratio: 1/1.5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 560px;
  width: 360px;
  border-radius: 8px;
  background-color: var(--card-color);
  -webkit-box-shadow: 0px 16px 32px rgba(var(--shadow-color-rgb), 0.1);
          box-shadow: 0px 16px 32px rgba(var(--shadow-color-rgb), 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr 64px;
      grid-template-rows: auto 1fr 64px;
  gap: 0px;
}

.aloc-card-login .header-card {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
}

.aloc-card-login .header-card .aloc-logo-login {
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(var(--primary-color-rgb), 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
}

.aloc-card-login .header-card .aloc-logo-login img {
  height: 50%;
  aspect-ratio: 1/1;
}

.aloc-card-login .content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.aloc-card-login .content-card .aloc-data-login {
  padding: 32px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
}

.aloc-card-login .footer-card {
  height: 100%;
  width: 100%;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 4px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

.aloc-card-login .footer-card a {
  text-decoration: none;
  font-style: italic;
  color: var(--primary-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.aloc-card-login .footer-card a:hover {
  color: var(--primary-color-contrast);
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .aloc-card-login {
    height: 70vh;
    width: 70vw;
  }
}

.aloc-input.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0px;
}

.submit-form.login {
  width: 80%;
  border: none;
}

.submit-form.login .bg-btn {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.submit-form.login .text-btn {
  color: var(--text-color-inverse);
}

.submit-form.login:hover .bg-btn {
  background-color: var(--primary-color-contrast);
}

@-webkit-keyframes wave-animation {
  0% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 208.40000000000003,286.26666666666665 416.80000000000007,272.53333333333336 559,284 C 701.1999999999999,295.46666666666664 777.2,332.1333333333333 913,339 C 1048.8,345.8666666666667 1244.4,322.93333333333334 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  25% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 164.93333333333334,320.5333333333333 329.8666666666667,341.06666666666666 492,325 C 654.1333333333333,308.93333333333334 813.4666666666667,256.26666666666665 971,246 C 1128.5333333333333,235.73333333333335 1284.2666666666667,267.8666666666667 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  50% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 191.86666666666667,266.66666666666663 383.73333333333335,233.33333333333331 536,253 C 688.2666666666667,272.6666666666667 800.9333333333334,345.33333333333337 945,362 C 1089.0666666666666,378.66666666666663 1264.5333333333333,339.3333333333333 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  75% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 112,254.79999999999998 224,209.59999999999997 411,206 C 598,202.40000000000003 860,240.40000000000003 1044,263 C 1228,285.59999999999997 1334,292.79999999999995 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  100% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 208.40000000000003,286.26666666666665 416.80000000000007,272.53333333333336 559,284 C 701.1999999999999,295.46666666666664 777.2,332.1333333333333 913,339 C 1048.8,345.8666666666667 1244.4,322.93333333333334 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
}

@keyframes wave-animation {
  0% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 208.40000000000003,286.26666666666665 416.80000000000007,272.53333333333336 559,284 C 701.1999999999999,295.46666666666664 777.2,332.1333333333333 913,339 C 1048.8,345.8666666666667 1244.4,322.93333333333334 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  25% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 164.93333333333334,320.5333333333333 329.8666666666667,341.06666666666666 492,325 C 654.1333333333333,308.93333333333334 813.4666666666667,256.26666666666665 971,246 C 1128.5333333333333,235.73333333333335 1284.2666666666667,267.8666666666667 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  50% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 191.86666666666667,266.66666666666663 383.73333333333335,233.33333333333331 536,253 C 688.2666666666667,272.6666666666667 800.9333333333334,345.33333333333337 945,362 C 1089.0666666666666,378.66666666666663 1264.5333333333333,339.3333333333333 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  75% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 112,254.79999999999998 224,209.59999999999997 411,206 C 598,202.40000000000003 860,240.40000000000003 1044,263 C 1228,285.59999999999997 1334,292.79999999999995 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  100% {
    d: path("M 0,600 C 0,600 0,300 0,300 C 208.40000000000003,286.26666666666665 416.80000000000007,272.53333333333336 559,284 C 701.1999999999999,295.46666666666664 777.2,332.1333333333333 913,339 C 1048.8,345.8666666666667 1244.4,322.93333333333334 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
}
/*# sourceMappingURL=login.css.map */