.btn-default {
    padding: 4px 16px;
    border: 2px solid rgba(0,0,0,0);
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    background: var(--primary-color);
    color: var(--text-color-inverse);
    transition: background .3s ease-out,
                color .3s ease-out,
                border-color .3s ease-out;
    cursor: pointer;
    @include text-config(16px, bold, $style: italic);

    &:hover {
        background: var(--base-color);
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.button-open {
    position: relative;
    height: 32px;
    border-radius: 16px;
    aspect-ratio: 1/1;
    background-size: 200% 100%;
    background-position: left;
    background: linear-gradient(45deg, var(--primary-color), var(--primary-color-contrast));
    color: var(--text-color-inverse);
    text-decoration: none;
    overflow: hidden;
    transition: aspect-ratio .3s ease-out;
    cursor: pointer;

    i {
        position: absolute;
        top: 50%;
        left: 16px;
        aspect-ratio: 1/1;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    p {
        position: absolute;
        top: 50%;
        left: 32px;
        transform: translate(0%, -50%);
        pointer-events: none;
        @include flex-display(row, flex-start, center, 0px);
        @include text-config(15px, bold);
    }

    &:hover {
        aspect-ratio: 5/1;
        animation: moveBackground 10s ease-in-out infinite alternate;
    }
}

.btn-action {
    height: 32px;
    width: 32px;
    border: none;
    color: var(--text-color-inverse);
    background-size: 150%;
    border-radius: 16px;
    background-position: left;
    background: linear-gradient(45deg, var(--primary-color), var(--primary-color-contrast));
    text-decoration: none;
    overflow: hidden;
    transition: background-position .3s ease-out;
    cursor: pointer;
    @include flex-center(row, 0px);

    i {
        font-size: 16px;
        pointer-events: none;
        transition: transform .3s ease-out;
        filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2));
        @include flex-center(row, 0px);
    }

    &:hover {
        background-position: right;

        i {
            transform: translateY(-1px);
        }
    }
}