.aloc-input {
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 24px;

    .input {
        padding: 4px 16px;
        width: 100%;
        min-height: 30px;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        border-bottom: 2px solid rgba(var(--primary-color-rgb), 0.7);
        overflow: hidden;
        resize: vertical;
        transition: border .3s,
                    background-color ease-out .3s;
        @include text-config(16px, unset);

        &:focus {
            background-color: rgba(var(--primary-color-rgb), 0.05);
        }

        &:focus,
        &:not([placeholder=" "]),
        &:not(:placeholder-shown) {
            outline: none;
            border-bottom: 2px solid rgba(var(--primary-color-rgb), 1);

            ~.plch {
                color: rgba(var(--primary-color-rgb), 1);
                transform: translate(0, calc(-100% - 8px));
                @include text-config(12px, bold, $style: italic);
            }
        }

        // autocomplete

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px var(--contrast-base-color) inset;
        }
    }

    .select {
        padding: 4px 24px 4px 16px;
        min-height: 30px;
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        border-bottom: 2px solid rgba(var(--primary-color-rgb), 0.7);
        outline: none;
        appearance: none;
        overflow: hidden;
        cursor: pointer;
        transition: border .3s,
            background-color ease-out .3s;
        @include text-config(16px, unset);

        &:focus {
            background-color: rgba(var(--primary-color-rgb), 0.05);

            +.arrow-down {
                font-size: 13px;
            }
        }

        &:valid {
            outline: none;
            border-bottom: 2px solid rgba(var(--primary-color-rgb), 1);

            ~.plch {
                color: rgba(var(--primary-color-rgb), 1);
                transform: translate(0, calc(-100% - 8px));
                @include text-config(12px, bold, $style: italic);
            }
        }

        option {
            background: var(--card-color);
            color: var(--text-color);

            &:checked {
                color: var(--primary-color);
            }
        }
    }

    .color-picker {
        padding: 0px 8px;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(var(--primary-color-rgb), 0.7);
        cursor: pointer;
    }

    .input, 
    .select {
        &.valid {
            border-bottom: 2px solid rgba(var(--success-color-rgb), 0.7);

            +.plch {
                color: rgba(var(--success-color-rgb), 0.7);
            }
        }

        &.invalid {
            border-bottom: 2px solid rgba(var(--error-color-rgb), 0.7);

            +.plch {
                color: rgba(var(--error-color-rgb), 0.7);
            }
        }
    }

    .input {
        &.valid {
            &:focus,
            &:not([placeholder=" "]),
            &:not(:placeholder-shown) {
                border-bottom: 2px solid rgba(var(--success-color-rgb), 1);
        
                ~.plch {
                    color: rgba(var(--success-color-rgb), 1);
                }
            }
        }

        &.invalid {    
            &:focus,
            &:not([placeholder=" "]),
            &:not(:placeholder-shown) {
                border-bottom: 2px solid rgba(var(--error-color-rgb), 1);
        
                ~.plch {
                    color: rgba(var(--error-color-rgb), 1);
                }
            }
        }
    }

    .select {
        &.valid {
            &:valid {
                border-bottom: 2px solid rgba(var(--success-color-rgb), 1);
        
                ~.plch {
                    color: rgba(var(--success-color-rgb), 1);
                }
            }
        }
        
        &.invalid {
            &:valid {
                border-bottom: 2px solid rgba(var(--error-color-rgb), 1);
        
                ~.plch {
                    color: rgba(var(--error-color-rgb), 1);
                }
            }
        }
    }

    .arrow-down {
        position: absolute;
        top: 15px;
        right: 8px;
        transform: translate(0, -50%);
        font-size: 11px;
        color: var(--primary-color);
        pointer-events: none;
        transition: font-size .1s ease-in;
    }

    .plch {
        margin: 0;
        padding: 0;

        position: absolute;
        left: 8px;
        top: 4px;
        color: rgba(var(--primary-color-rgb), 0.7);
        transition: transform .1s ease-out, color .1s ease-out,
                    font-size .1s ease-out,
                    font-weight .1s ease-out,
                    font-style .1s ease-out,
                    color .1s ease-out;
        pointer-events: none;
        cursor: text;
        @include text-config(unset, unset, $style: normal);

        &.has-open {
            color: rgba(var(--primary-color-rgb), 1);
            transform: translate(0, calc(-100% - 8px));
            @include text-config(12px, bold, $style: italic);
        }
    }
}

.submit-form {
    margin: 0;
    position: relative;
    padding: 4px 16px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    cursor: pointer;
    @include flex-center(row, 0px);

    .text-btn {
        margin: 0;
        color: var(--primary-color);
        pointer-events: none;
        transition: color ease-in-out .3s;
        z-index: 2;
        @include text-config(16px, bold);
    }

    .bg-btn {
        margin: 0;
        position: absolute;
        width: calc(100% + 8px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-150%, 0%);
        background: var(--primary-color);
        pointer-events: none;
        z-index: 1;
        transition: transform ease-in-out .3s;
    }

    &.no-width {
        width: fit-content;
    }

    &:hover {
        .text-btn {
            color: var(--text-color-inverse);
        }

        .bg-btn {
            transform: translate(-50%, -50%);
        }
    }

    @include responsive(mobile) {
        padding: 2px 8px;

        .text-btn {
            @include text-config(13px, bold);
        }
    }
}

.check-optional-input {
    margin: 0;
    position: absolute;
    width: 16px;
    aspect-ratio: 1/1;
    top: 50%;
    left: 8px;
    transform: translate(0, -50%);
    accent-color: var(--primary-color);
    color: var(--text-color-inverse);
    box-shadow: 0px 2px 4px rgba(var(--color-shadow-rgb), 0.1);
    cursor: pointer;
    z-index: 1;

    +.input,
    +.select,
    +.color-picker {
        padding-left: 32px;
        background: transparent;

        +.plch {
            // color: rgba(var(--primary-color-rgb), 0.5) !important;
            transform: translate(0, calc(-100% - 8px));
            @include text-config(12px, bold, $style: italic);
        }
    }
}

// Fake-input 

.aloc-fake-input {
    position: relative;
    width: 100%;
    // Margin de alocação para o "placeholder"
    margin-top: 24px;

    .fake-input {
        padding: 4px 16px;
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        border-bottom: 2px solid rgba(var(--primary-color-rgb), 1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: border .3s,
            background-color ease-out .3s;

        &.text-transparent {
            color: rgba(var(--text-color-rgb), 0.7);
        }

        &:focus {
            background-color: rgba(var(--primary-color-rgb), 0.05);
        }
    }

    .plch {
        position: absolute;
        left: 8px;
        top: 4px;
        margin: 0;
        padding: 0;
        pointer-events: none;
        cursor: text;
        color: rgba(var(--primary-color-rgb), 1);
        transform: translate(0, calc(-100% - 8px));
        @include text-config(12px, bold, $style: italic);
    }
}