.grid-afazeres {
    position: relative;
    width: 100%;
    @include grid-display(1fr, 40px 1fr, 8px);

    .aloc-folders {
        position: relative;
        height: 100%;
        width: calc(100% - 32px);
        @include flex-display(row, flex-start, center, 8px);

        .afz-new-afz {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translate(100%, -50%);
            height: 32px;
            aspect-ratio: 1/1;
            border-radius: 8px;
            background-color: transparent;
            color: var(--primary-color);
            box-shadow: 0px 2px 6px rgba(var(--shadow-color-rgb), 0.2);
            transition: background-color 0.2s ease-in-out, 
                        color 0.2s ease-in-out;
            cursor: pointer;
            @include text-config(16px, bold, $style: italic);
            @include flex-center(row, 0px);

            &:hover {
                background-color: var(--primary-color);
                color: var(--text-color-inverse);
            }
        }

        .afz-new-folder,
        .afz-folder {
            position: relative;
            padding: 8px;
            max-width: 120px;
            border-radius: 4px;
            background-color: var(--primary-color);
            color: var(--text-color-inverse);
            opacity: 0.3;
            box-shadow: 0px 2px 6px rgba(var(--shadow-color-rgb), 0.2);
            transition: opacity 0.2s ease-in-out;
            cursor: pointer;
            display: block;
            // @include text-config(16px, bold, $style: italic);
            // @include flex-center(row, 0px);


            &.default {
                font-style: normal;
            }

            &:hover {
                opacity: 0.7;
            }
            
            &.active {
                opacity: 1;

                .delete-folder {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .cover-folder {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .ipt-name-folder {
                padding: 0px;
                width: 100%;
                border-radius: 4px;
                border: none;
                color: inherit;
                background: transparent;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // pointer-events: none;
                @include text-config(16px, bold, $style: italic);

                &:focus {
                    outline: none;
                }
            }

            .delete-folder {
                position: absolute;
                top: 0px;
                right: 0px;
                transform: translate(25%, -50%);
                height: 20px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: var(--error-color);
                color: var(--text-color-inverse);
                box-shadow: 0px 2px 6px rgba(var(--shadow-color-rgb), 0.2);
                transition: opacity 0.3s ease-in-out;
                cursor: pointer;
                z-index: 1;
                @include text-config(9px, unset);
                @include flex-center(row, 0px);

                opacity: 0;
                pointer-events: none;

                i {
                    pointer-events: none;
                }
            }
        }
    } 

    .aloc-afazeres {
        position: relative;
        padding: 4px 0px;
        min-height: 60vh;
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(var(--primary-color-rgb), 0.1);
        overflow: hidden;
        @include flex-display(column, flex-start, center, 8px);

        .grid-muuri-afz {
            position: relative;
            width: 100%;
            height: 100%;

            .item-afz {
                position: absolute;
                margin: 4px 0px;
                padding: 0px 8px;
                width: 100%;
            }
        }

    }

    .line-afazer {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(var(--shadow-color-rgb), 0.08);
        background-color: var(--card-color);
        transition: opacity 0.3s ease-in-out;
        @include grid-display(48px 1fr, 1fr, 0px);

        .aloc-check-afz {
            padding: 16px 8px;
            width: 100%;
            cursor: pointer;
            @include flex-center(column, 0px);

            input[type="checkbox"] {
                cursor: pointer;
                accent-color: var(--primary-color);
            }
        }

        .aloc-text-afz {
            position: relative;
            padding: 16px 96px 16px 8px;
            width: 100%;
            @include text-config(16px, bold, $style: italic);
            @include flex-display(row, flex-start, center, 0px);

            .aloc-btns-act-afz {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translate(0, -50%);
                height: 100%;
                width: 128px;
                @include flex-center(row, 4px);

                .btn-act-afz {
                    padding: 8px;
                    color: var(--primary-color);
                    opacity: 0.5;
                    transition: opacity 0.3s ease-in-out;
                    filter: drop-shadow(0px 2px 6px rgba(var(--shadow-color-rgb), 0.2));
                    cursor: pointer;
                    @include text-config(16px, unset);
                    @include flex-center(row, 0px);

                    &.muuri {
                        cursor: move;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &.checked {
            opacity: 0.6 !important;

            .aloc-text-afz {
                text-decoration: line-through;

                .aloc-btns-act-afz .btn-act-afz {
                    &.muuri {
                        display: none;
                    }
                }
            }
        }
    }
}

// Página de criação de novo afazer

.aloc-data-new-afz,
.aloc-data-new-afz-folder {
    padding: 8px 16px;
    width: 100%;
    @include flex-display(column, flex-start, center, 16px);

    @include responsive(mobile) {
        padding: 8px;
    }
}

// Página de troca de pasta de referência para afazer

.aloc-all-change-folder {
    width: 100%;
    @include flex-display(column, flex-start, center, 16px);

    .container-view-folder {
        padding: 8px;
        min-height: 160px;
        max-height: 240px;
        width: 100%;
        border-radius: 8px;
        border: 2px solid rgba(var(--primary-color-rgb), 1);
        overflow: auto;
        transition: border-color 0.3s ease-in-out;
        @include flex-display(column, flex-start, center, 0px);

        .line-view-afz {
            padding: 8px 16px;
            width: 100%;
            background: transparent;
            color: var(--text-color);
            @include text-config(16px, 400, $style: italic);
            @include flex-display(row, flex-start, center, 8px);

            &:nth-child(odd) {
                background-color: rgba(var(--primary-color-rgb), 0.1);
            }

            p {
                margin: 0px;
            }
        }
    }
}